body {
	font-family:"MS UI Gothic","MS PGothic","Osaka";
	text-align: center;
	line-height: 150%;
	font-size: 12px;
	color: #333333;
	margin:20px 0px 10px 0px;
	background-image:url(./image/back.gif);
}

a:link {
	color: #198fff;
	text-decoration: none;
}
a:visited {
	color: #198fff;
	text-decoration: none;
}
a:hover {
	color: #198fff;
	text-decoration: none;
}

#out {
	text-align: left;
	padding: 2px;
	width:730px;
	margin:0 auto 0 auto;
	background:#EFEFEF;
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
}

#head {
	text-align: left;
	margin:0 auto 0 auto;
	background:#FAFAFA;
	border-color:#CCCCCC;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	background-image:url(./image/head_back.jpg);
	}
	
#head h1 {
	padding:30px;
	margin:0px;
	font-size:20px;
	color:#0518A4;
	font-family: Osaka,Verdana,Arial,Helvetica,sans-serif;
}

#main {
	text-align: left;
	padding: 15px 10px;
	margin:2px auto 2px auto;
	background:#FFFFFF;
	border-color:#CCCCCC;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	height:450px;
}

#main2 {
	text-align: left;
	padding: 15px 10px;
	margin:2px auto 2px auto;
	background:#FFFFFF;
	border-color:#CCCCCC;
	border-width:1px 1px 1px 1px;
	border-style:solid;
}

#foot {
	text-align: center;
	font-size:10px;
	padding: 10px;
	height:23px;
	margin:0 auto 0 auto;
	border-color:#CCCCCC;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	font-family: Osaka,Verdana,Arial,Helvetica,sans-serif;
	background-image:url(./image/head_back.jpg);
}

#left {
	width:160px;
	float:left;
	margin:0;
	padding:0;
}


#left ul {
	padding: 0px;
	margin: 0px;
	list-style:none;
}
#left li {
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	margin: 0px 0px 2px 0px;
}
#left li a {
	background-image:url(./image/menu_back001.gif);
	padding:5px 0px 5px 10px;
	display: block;
	margin: 1px;
	border-left: #0518A4 2px solid;
	color: #0066B3;
	text-decoration: none
}
#left li a:hover {
	background-image:url(./image/menu_back002.gif);
	border-left: #057DA4 2px solid;
	color: #0518A4;
}

#right {
	width:525px;
	float:right;
	padding:0;
}

#right h2 {
	color:#0518A4;
	font-size:14px;
	padding:5px 10px;
	border-color:#cccccc;
	border-width:1px;
	border-style:solid;
	margin: 0px 0px 5px 0;
	background-image:url(./image/title_back.gif);
}

.tex {
	line-height:170%;
	padding:6px 3px 15px 20px;
}

.tex2 {
	line-height:170%;
	padding:6px 3px 15px 20px;
	font-size:14px;
	color: #ff1493;
}

button.button8 {
    font-size: 12px;
    /* 縦方向に5px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 30px;
    /* 文字色を白色に指定 */
    color: #FFFFFF;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.button8:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}

input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}

